body{
    font-family: sans-serif;
    background-image: url('../IMAGES/home_background.jpg')
}

h1{
    text-align: center;
    color: forestgreen;
    margin: 30px 0 50px;
}

.gallery{
    margin: 40px 160px;
}

#z,#photo{
    margin-left: 340px;
}

.gallery img{
    width: 300px;
    padding: 5px;
    transition: 1s;
}